<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>代理注册-{$siteinfo.sitename}</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="__STATIC__/css/font.css">
    <link rel="stylesheet" href="__STATIC__/css/xadmin.css">
    <script src="__STATIC__/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
</head>
<body class="login-bg">
    
    <div class="login">
        <blockquote class="layui-elem-quote">注册代理账户需要付费{$siteinfo.opdl}元，付费成功后会自动开通账号，默认密码与用户名相同，请登录后尽快修改</blockquote>
        <form method="post" class="layui-form" action="" method="post">
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="email" lay-verify="required" placeholder="QQ"  type="text" class="layui-input">
            <hr class="hr15">
            <div class="layui-form-item" style="text-align:center">
                    <input type="radio" name="paytype" value="1" title="支付宝" checked="">
                    <input type="radio" name="paytype" value="2" title="QQ钱包">
                    <input type="radio" name="paytype" value="3" title="微信">
            </div>
            <input value="确认注册" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
            <a class="layui-btn layui-btn-lg layui-btn-danger" style="width:100%;" href="/daili.php">返回登录</a>
            <hr class="hr20">
        </form> 
        
        
    </div>
    <script>
        layui.use('form', function () {
            var form = layui.form;
            form.render();
            //各种基于事件的操作，下面会有进一步介绍
        });

    </script>
</body>
</html>