<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理中心-{$siteinfo.sitename}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="__STATIC__/css/font.css">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <link rel="stylesheet" href="__STATIC__/css/xadmin.css">
    <script src="http://libs.baidu.com/jquery/1.8.3/jquery.js"></script>
    <script src="__STATIC__/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>

</head>
<body>
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="/{$Think.config.admin_url}/index/index.html">{$siteinfo.sitename}后台管理</a></div>
        <div class="left_open">
            <i title="展开左侧栏" class="iconfont">&#xe699;</i>
        </div>
        <ul class="layui-nav left fast-add" lay-filter="">
                <li class="layui-nav-item">
                  <a href=""><i class="layui-icon">&#xe68e;</i> 后台首页</a>
                </li>
        </ul>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item" style="">
            <a href="javascript:;">{$Think.session.username}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="/{$Think.config.admin_url}/index/loginout.html">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/">前台首页</a></li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
     <!-- 左侧菜单开始 -->
    <div class="left-nav">
      <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                        <i class="layui-icon">&#xe629;</i>  
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/order">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>订单列表</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                        <i class="layui-icon">&#xe647;</i> 
                    <cite>分类管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/category">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>分类列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/addcat.html">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>添加分类</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                        <i class="layui-icon">&#xe857;</i> 
                    <cite>商品管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/goods.html">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>商品列表</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/addgood.html">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>添加商品</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                        <i class="layui-icon">&#xe63c;</i> 
                    <cite>卡密管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/kami.html">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>卡密列表</cite>
                        </a>
                    </li >
                    <li>
                            <a _href="/{$Think.config.admin_url}/index/addkami.html">
                                <i class="layui-icon">&#xe617;</i>
                                <cite>添加卡密</cite>
                            </a>
                        </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                        <i class="layui-icon">&#xe63c;</i> 
                    <cite>优惠管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/youhuiquan.html">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>优惠券</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/addyouhuiquan.html">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>生成优惠券</cite>
                        </a>
                    </li >
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon">&#xe613;</i>
                    <cite>代理管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/daili.html">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>代理列表</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/adddaili.html">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>添加代理</cite>
                        </a>
                    </li>
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/recharge.html">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>充值记录</cite>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                    <a href="javascript:;">
                        <i class="layui-icon">&#xe621;</i>
                        <cite>文章管理</cite>
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a _href="/{$Think.config.admin_url}/index/article.html">
                                <i class="layui-icon">&#xe617;</i>
                                <cite>文章列表</cite>
                            </a>
                        </li>
                        <li>
                            <a _href="/{$Think.config.admin_url}/index/addart.html">
                                <i class="layui-icon">&#xe617;</i>
                                <cite>添加文章</cite>
                            </a>
                        </li>
                    </ul>
                </li>
            <li>
                <a href="javascript:;">
                        <i class="layui-icon">&#xe631;</i>
                    <cite>系统设置</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="/{$Think.config.admin_url}/index/option.html">
                            <i class="layui-icon">&#xe617;</i>
                            <cite>常用设置</cite>
                        </a>
                    </li >
                    <li>
                            <a _href="/{$Think.config.admin_url}/index/apipay.html">
                                <i class="layui-icon">&#xe617;</i>
                                <cite>支付接口</cite>
                            </a>
                        </li>
                        <li>
                                <a _href="/{$Think.config.admin_url}/index/links.html">
                                    <i class="layui-icon">&#xe617;</i>
                                    <cite>友情链接</cite>
                                </a>
                            </li>
                        <li>
                            <a _href="/{$Think.config.admin_url}/index/clear.html">
                                <i class="layui-icon">&#xe617;</i>
                                <cite>数据清理</cite>
                            </a>
                        </li>
                        <li>
                                <a _href="/{$Think.config.admin_url}/index/password.html">
                                    <i class="layui-icon">&#xe617;</i>
                                    <cite>修改密码</cite>
                                </a>
                            </li >
                </ul>
            </li>
        </ul>
      </div>
    </div>
    <!-- <div class="x-slide_left"></div> -->
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
          <ul class="layui-tab-title">
            <li>首页</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/{$Think.config.admin_url}/index/welcome.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
          </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <!-- 右侧主体结束 -->
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2018 {$Think.config.weboption.sitename} All Rights Reserved</div>  
    </div>
    <!-- 底部结束 -->
    
</body>
</html>