{extend name="index" /}
{block name="title"}
卡密列表
{/block}
{block name="body"}
<div class="demoTable">
  <div class="layui-inline layui-form " style="">
  <select id="cat" lay-filter="cat" >
    <option value="all">全部商品</option>
    {foreach $res as $vo}
    <option value="{$vo.id}">{$vo.name}</option>
    {/foreach}
  </select>
  </div>
  <div class="layui-inline layui-form " style="">
    <select id="status" lay-filter="status">
    <option value="2">全部</option>
    <option value="1">已售出</option>
    <option value="0">库存中</option>
    </select>
  
  </div>
  <button class="layui-btn" data-type="reload">查询</button>
  <button class="layui-btn" onclick="dataToTxt()">导出</button>
  <button class="layui-btn" data-type="delData">删除</button>
</div>
<table class="layui-hide" id="kami" lay-filter="demo"></table>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="del"><i class="layui-icon">&#xe640;</i>删除</a>
    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="detail"><i class="layui-icon">&#xe615;</i>详情</a>
</script>
<script type="text/javascript" src="http://file.setotoo.cn/saveTxt.js"></script>
 <script>
    function dataToTxt() {
        
        $.ajax({
        type: "GET",
        url: "/{$Think.config.admin_url}/index/export.html",
        data: 'id=' + $("#cat").val() + '&status=' + $("#status").val(),
        success: function (data) {
          // layer.alert(data);
         var blob = new Blob([data], { type: "text/plain;charset=utf-8" });
         saveAs(blob, $("#cat").val()+"-"+ $("#status").val()+".txt");
        }
      });
      }
  layui.use('table', function () {
    var table = layui.table;

    table.render({
      elem: '#kami'
      , url: '/{$Think.config.admin_url}/index/kamidata'
      , cellMinWidth: 80
      , skin: 'row'
      , even: true
      , cols: [[
          { type: 'checkbox' }
        , { field: 'id', title: '卡密编号', sort: true, align: 'center' }
        , { field: 'name', title: '商品名称', align: 'center' }
        , { field: 'kahao', title: '卡号', align: 'center' }
        , { field: 'mima', title: '密码',  align: 'center' }
        , { field: 'status', title: '状态', align: 'center' }
        , { title: '操作',width: 250, align: 'center', toolbar: '#barDemo' }

      ]]
      , page: true
      , limit: 20
    });
    table.on('tool(demo)', function (obj) {
      var tbdata = obj.data;
      if (obj.event === 'del') {
        layer.confirm('真的删除此卡密么？', function (index) {
          //del star
          $.ajax({
            type: "GET",
            url: "/{$Think.config.admin_url}/index/delkami.html",
            data: 'id=' + tbdata.id,
            success: function (data) {
              // layer.alert(data);
              if (data == "0") {
                layer.msg('删除成功');
                obj.del();
              } else if (data == "1") {
                layer.msg('删除失败');
                
              }
            }
          });
          //del end
          layer.close(index);
        });
      } else if (obj.event === 'detail') {
        $.ajax({
          type: "GET",
          url: "/{$Think.config.admin_url}/index/kamiinfo.html",
          data: 'id=' + tbdata.id,
          success: function (data) {
             layer.alert(data);
          }
        });
      }
    });
    var $ = layui.$, active = {
      reload: function () {
        var demoReload = $('#cat');
        var statusreload = $('#status');

        //执行重载
        table.reload('kami', {
           where: {
            id: demoReload.val(),
            status: statusreload.val()

          }
        });
      }
        , delData: function () { //获取选中数据
        var checkStatus = table.checkStatus('kami')
          , data = checkStatus.data;
         layer.confirm('确定删除这些卡密么', function (index) {
        $.ajax({
            type: "GET",
            url: "/{$Think.config.admin_url}/index/pldelkm.html",
            data: 'data=' + JSON.stringify(data),
            success: function (data) {
              layer.msg(data);
              table.reload('kami', {
              });
              
            }
          });
          });
          //
      }
    };
    $('.demoTable .layui-btn').on('click', function () {
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });


</script>
  

{/block}